@model IEnumerable<RealPizza.Models.Pizze>

@{
    ViewBag.Title = "AddToCart";
}

<h2>Il tuo Carrello</h2>


<ul>
    @foreach (var item in Model) 
    {
        <li>@item.Nome - €@item.Prezzo <a href="@Url.Action("RimuoviDalCarrello", new { id = item.ID_Pizza })">Rimuovi</a></li>
    }
</ul>