@model IEnumerable<RealPizza.Models.Pizze>

@{
    ViewBag.Title = "AddToCart";
}

<h2>Il tuo Carrello</h2>
<ul>
    @foreach (var pizze in Model)
    {
        <li>@pizze.Nome - €@pizze.Prezzo <a href="@Url.Action("RimuoviDalCarrello", new { id = pizze.ID_Pizza })">Rimuovi</a></li>
    }
</ul>

}
